# Ensure the other configurations are watched to trigger reloads
watch_file .envrc.*

# When the developer has their own local environment, load it instead of the default one
if [[ -r ".envrc.local" ]]; then
  source_env .envrc.local
else
  source_env .envrc.default
fi
