# Cargo
target

# Rust LSP
.rust-analyzer.json

# Direnv
.direnv
.envrc.local

# Profiling outputs
riscv-sandbox-profile.json
perf.data*
*.run
*.json
*.svg

# NodeJS
node_modules

# Space harness samples, written by `make -C durable-storage space-metrics`
space-samples.jsonl
